<!DOCTYPE html>
<head>
  <title>Oric Games</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div>
    <table width="100%" border="1">
    <tr>
      <td>
	<a href="/">Home</a>	&nbsp	<a href="/preferences">Preferences</a>
      </td>
      <td align="right" >
	<psmall>
	  Orpic: {{ webappVersion }} &nbsp tap2wav: {{ tap2wavVersion }} &nbsp (/CKL)
	</psmall>
      </td>
    </tr>
    </table>   
  </div>
  <hr>
  
  {% block content %}{% endblock %}
</body>

</html>
