<!DOCTYPE html>
<head>
  <title>Oric Games</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div>
    <table width="100%" border="0">
    <tr>
      <td>
	<a href="/">Home</a>	&nbsp	<a href="/preferences">Preferences</a>
      </td>
      <td align="right" >
	<psmall>
	  Orpic: {{ webappVersion }} &nbsp tap2wav: {{ tap2wavVersion }} &nbsp --CKL <br>
	  <i>tap2wav -f {{tap2wavpfrequence}} -s {{tap2wavpsplit}} -b {{tap2wavpbaud}} </i>
	</psmall>
      </td>
    </tr>
    </table>   
  </div>
  <hr>
  
  {% block content %}{% endblock %}
  
</body>

</html>
