{% extends "base.html" %}

{% block content %}
  <h1>Oric Game Web Server</h1>

  {% if TapeId != 0 %}
    <table style="width:100%" border ="0" >
      <tr>
	<td  width="25%" >
	</td>
	<td align="right" >
	  <img src={{ url_for('static', filename='/Images/cloadOric.png') }}> 	  
	</td>
	<td class="ctab3" align="left" valign="center" >
	  Run : CLOAD"" 
	</td>
      </tr>
    </table>
  {% endif %}

  <table style="width:100%" border ="0" >
    {% for tnb in TapesNL %}

      {% if TapeId == tnb %}
	{# Button: "Create Audio file" has been clicked --> Audio files has been created #}
	{# Meaning URL has been requested: http://localost?tapeIdx=1&tapeAudioIxd=1  #}
	{# -->  tempale tapeIdx has a value <> 0 #}
	{# So here we will display the audio files generated #}
	
	<tr>
	  <td width="25%">
	    {{ TapesNL[tnb]["name"][0] }}
	  </td>
	  
	  <td width="25%" align="center">
	    <img src={{ TapesNL[tnb]["directory_url_static"][0] }}{{ TapesNL[tnb]["picture"][0] }} width="200" alt= "name : {{ TapesNL[tnb]["name"][0] }}" >
	  </td>

	  <td align="left">
	    <h3> {{ TapesNL[tnb]["tap_file"][TapeAudioId].replace("_"," ") }} </h3>

	    <table border="0" >
	      {% for j in range(AudioNL[1]["wav_nb"][0]) %}
		<tr>
		  <td>
		    {{ AudioNL[1]["wav_file"][j] }} &nbsp
		  </td>
		  <td>
		    {# <a href="?tapeIdx={{tnb}}&tapeAudioIxd={{TapeAudioId}}&audioFile={{j}}"> #}
		    {#   <button type="button" class="favorite styled"> Play <br> Audio Files </button> #}
		    {# </a> #}
		    
		    <audio
		      controls
		      src="{{AudioNL[1]["directory_url_static"][0]}}{{AudioNL[1]["wav_file"][j]}}">
		      Your browser does not support the <code>audio</code> element.
		    </audio>
			
		  </td>
		</tr>
	      {% endfor %}
	      
	  </td>
	</tr>

      {% else %}
	
	{% if TapeId == 0 %}
	  {# Here we are at home level #}
	  {# tempale tapeIdx = 0 #}
	  {# We have to dispaly all the images #}
	  <tr>
	    <td width="25%">
	      {{ TapesNL[tnb]["name"][0] }}
	    </td>
      
	    <td width="25%" align="center">
	      <img src={{ TapesNL[tnb]["directory_url_static"][0] }}{{ TapesNL[tnb]["picture"][0] }} width="200" alt= "name : {{ TapesNL[tnb]["name"][0] }}" >
	    </td>

	    <td align="left">
	      
	      <table border="0" >
		{% for i in range(TapesNL[tnb]["tape_nb"][0]) %}
		  <tr>
		    <td>
		      {{ TapesNL[tnb]["tap_file"][i].replace("_"," ") }}
		    </td>
		    <td>
		      <a href="?tapeId={{tnb}}&tapeAudioId={{i}}">
			<button type="button" class="favorite styled"> Create<br> Audio Files </button>
		      </a>
		      
		    </td>
		  </tr>
		{% endfor %}
	      </table>
	    </td>
	  </tr>
	{% endif %}
      {% endif %}
    {% endfor %}
  </table>
{% endblock %}
