<!DOCTYPE html>
<head>
   <title>Oric Games</title>
   <meta charset="utf-8">
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

   </script>
   
</head>

<body>
  <h1>Oric Game Web Server</h1>

  <table style="width:100%">
    {% for tnb in tapes %}
    <tr>
      
      <td width="30%">
	{{ tapes[tnb].name[0] }}
      </td>
      
      <td width="40%">
	
	<img src={{ tapes[tnb].directory_src[0] }}{{ tapes[tnb].picture[0] }}
	     width="200" 
	     alt={{ tapes[tnb].name[0] }}
	     >
      </td>

      <td>
	
      </td>
      
    </tr>
    {% endfor %}
  </table>
  
</body>
</html>

